*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    

}
input{
    height: 40px;
    width: 220px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 20px;
}

.box{
    height: 500px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: scroll;
}
button{
    background-color: #007BFF;
    border:  none;
    height: 30px;
    margin: 10px;
    width: 70px;
    color: white;
    border-radius: 20px;
}