body{
    align-items:center;
    padding-left:500px;
    
}



.one{
    align-items:center;
    background-color:aquamarine;
    display:flex;
}
#btn{
    padding: 10px 20px;
    margin:10px;
    background-color: #2196f3;
    color:white;
    border:solid;
    border-Radius:5px;
        
}
pre{
    
     
    background-color:rgb(238, 233, 233);
    padding: 10px;
    border-radius:5px;
}
img{
    max-width:400px;
     margin-top:10px;
    border-radius:10px;
    text-align:left;


}