* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
   }
   
   body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #1b4d2d;
   }
   
   /* User Card Styling */
   .user-card {
     width: 300px;
     background: rgb(227, 231, 33);
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     text-align: center;
     padding: 20px;
   }
   
   .user-card img {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     object-fit: cover;
     border: 3px solid #242a30;
   }
   
   .user-card h2 {
     margin: 10px 0;
     color: #1c1111;
   }
   
   .user-card p {
     color: black;
     font-size: 14px;
     margin-bottom: 10px;
   }
   
   /* Contact Info */
   .contact-info {
     margin-top: 10px;
   }
   
   .contact-info a {
     display: block;
     color: black;
     text-decoration: none;
     margin: 5px 0;
     font-size: 14px;
   }
   
   .contact-info a:hover {
     text-decoration: underline;
   }
   
   /* Connect Button */
   .connect-container {
     margin-top: 20px;
     margin-left: 100px;
   }
   .connect-button a{
     text-decoration: none;
     color: #fff;
   }
   .connect-button {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #1d57dd;
     flex-direction: column;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     transition: background-color 0.3s;
     left: 100px;
   }
   
   .connect-button:hover {
     background-color: #0044cc;
   }
   