*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 150px;
  gap: 30px;
}
button{
    background-color: #4B81F4;
    color: white;
    height: 50px;
    width: 50px;
    gap: 20px;

}
.cross{
    height: 50px;
    width: 50px;
    background-color: #4B81F4;
    text-align: center;
    padding-top: 7px;
    border-radius: 50px;
    color: white;
}