.fb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.fb-heading {
  color: blue;
  text-align: center;
  font-size: 3rem;
}

.fb-card {
  max-width: 400px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  align-self: center;
  padding: 5px;
}

.Fb-input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 15px;
}
.fb-input {
  height: 35px;
  width: 115px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px;
}

.fb-label {
  height: 35px;
  width: 115px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  align-content: center;
  margin-bottom: 5px;
}

.fb-details {
  height: 35px;
  width: 380px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px;
}

.fb-submit {
  background-color: green;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  margin: 10px auto;
  display: block;
}
