.main{
    height: screen;
    width: screen;
    display: flex;
    flex-wrap: wrap;
}
.box{
    height: 500px;
    width: 500px;
    /* border: 2px solid black; */
    margin-left: 20px;
    overflow: hidden;
    margin-bottom: 20px;

}