body {
    padding-left: 500px;
    font-family: Arial, sans-serif;
    background-color: rgb(221, 14, 93);
}  

.container {
    width: 400px;
    height: 550px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 3px rgba(211, 12, 12, 0.3);
    background-color: rgb(79, 148, 14);
    
}


.result {
    width: 300px;
    height: 50px;
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}


.copy {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #c3c3c3;
}


.copy:hover {
    background-color: lightgray;
}

.copy:active {
    filter: brightness(1.1);
}



.length {
    width: 300px;
    height: 50px;
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.setting {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
   
}
label{
    float:right;
}


.setting input {
    width: 18px;
    height: 18px;
    cursor: pointer;
  
}


.generateBtn {
    background-color: blue;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
}

.generateBtn:hover {
    background-color: darkblue;
}
