header{
  height: 150px;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  background-color: #F0F2F5;
}
.main{
  height: 600px;
  width: 450px;
  /* border: 2px solid black; */
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;

}

