* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

body {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     background: linear-gradient(185deg, #3b3ee3, #045610);
     padding: 20px;
}

h1 {
     color: white;
     margin-bottom: 20px;
}

.container {
     width: 400px;
     background-color: #fff;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.container:hover {
     box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}

.inputC {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #efe2e2;
     border-radius: 10px;
     padding: 10px;
     margin-bottom: 20px;
}

.inputC input {
     flex: 1;
     border: none;
     outline: none;
     background: transparent;
     padding: 10px;
     font-size: 16px;
}

button {
     border: none;
     outline: none;
     padding: 10px 20px;
     color: #fff;
     font-size: 14px;
     cursor: pointer;
     background-color: #0a9c11;
     border-radius: 5px;
     transition: background 0.3s;
}

button:hover {
     background-color: #068051;
}

ul {
     list-style: none;
     padding: 0;
}

ul li {
     position: relative;
     font-size: 16px;
     padding: 10px;
     margin: 5px 0;
     background: #f9f9f9;
     border-radius: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     cursor: pointer;
     font-weight: bold;
}

ul li.checked {
     color: #555;
     text-decoration: line-through;
}

ul li span {
     cursor: pointer;
     color: black;
     font-weight: bold;
     padding: 5px;
}

ul li span:hover {
     background-color: #f3f3f3;
     border-radius: 50%;
}
